{% extends "test.html" %}
 <div id="app">
        <div class="block">
            <el-timeline>
                {% for j in comments%}
                <el-timeline-item timestamp="{{{j.time}}" placement="top">
                    <el-card>
                        <h6><a href="{{url_for('posts',id=art.id)}}"><p>{{art.tittle}}</p></a></h6>
                        <div class="blog_allin_foot">
                            <div class="blog_text_li">
                                <a href="{{url_for('like',id=art.id)}}">点赞</a>
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"> ：</i>{{art.likes.count()}}
                            </div>
                            <div class="blog_text_li">评论
                                <i class="fa fa-commenting-o" aria-hidden="true"> ：</i>{{art.comments.count()}}
                            </div>
                            <div class="blog_text_li">
                                <a href="{{url_for('posts',id=art.id)}}">浏览</a>
                                <i class="fa fa-street-view" aria-hidden="true"> ：</i>{{art.view}}
                            </div>
                        </div>
                    </el-card>
                </el-timeline-item>
                {% endfor %}
            </el-timeline>

        </div>
    </div>

<div>
    <p><a></a></p>
    <p><a href="{{url_for('profileid',username=j.author.username)}}">{{j.author.username}}</a></p>评论了您的文章
    <p><a href="{{url_for('posts',id=j.article_id)}}">{{j.article.tittle}}</a></p>
    <p>{{j.body}}</p>
    <p>_____________</p>
</div>
{%block col%}
{% endblock%}

{%block script%}
{{super()}}
<script>
        new Vue().$mount('#app')
    </script>
{% endblock %}
