{% extends "template.html"%}
{% import "_macros.html" as mr %}


{% block page_content %}
<div class="page-header">
    <h1> 关注{{ user.username }}的人</h1>
</div>
<table class="table table-hover followers">
    <thead>
    <tr>
        <th>用户</th>
        <th>关注时间</th>
    </tr>
    </thead>
    {% for follow in follows %}
    {% if follow !=user %}
    <tr>
        <td>
            <a href="{{ url_for('profileid', username = follow.follower.username) }}">
                <img class=" img-circle" src="{{ follow.follower.avatar }}" width="70" height="70">
                {{ follow.follower.username }}
            </a>
        </td>
        <td>
            {{ follow.times }}
            </a>
        </td>

    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}