{% extends "test.html" %}
{% import "_macros.html" as mr%}

{% block post %}
<div class="col-lg-9">
    {% for post in posts %}


    <div class="blog_main_item">
        <div class="blog_img">
            {% if post.img == None%}
            <img class="img-fluid" src="{{url_for('static',filename='img/blog/blog-2.jpg')}}" alt="">
            {% else %}
            <img class="img-fluid" src="{{url_for('static',filename=post.img)}}" alt="">
            {% endif%}
            <div class="blog_date">
                <i class="fa fa-heart-o" aria-hidden="true">{{post.likes.count()}}</i><br>
                <i class="fa fa-bookmark-o" aria-hidden="true">{{post.collections}}</i>
                <i class="fa fa-eye" aria-hidden="true">{{post.view}}</i>
            </div>
        </div>
        <div class="blog_text">
            <a href="{{url_for('posts',id=post.id)}}"><h4>{{post.tittle}}</h4></a>
            <div class="blog_author">
                <a href="{{url_for('profileid',username=post.role.username)}}">作者:{{post.role.username}}</a>
                <a>{{post.addtime}}</a>
            </div>
            {{post.show[:100]}}
            <div>
                <a class="solid_btn" href="{{url_for('posts',id=post.id)}}">更多</a>
            </div>
        </div>
    </div>
    {%endfor%}

    {{ mr.pagination_widget(article,'index')}}
</div>
{% endblock %}
