<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点赞消息</title>
</head>
<body>
<h1>点赞消息</h1>

{% for j in likes%}
<div>
    <p><a>{{j.time}}</a></p>
    {% if j.avatar %}
       <p><img src="{{url_for('static',filename = j.avatar)}}" width="100" height="100"></p>
    {% else %}
    <p><img src="{{url_for('static',filename = j.default_avatar)}}" width="100" height="100"></p>
    {% endif %}
    <p><a href="{{url_for('profileid',username=j.author.username)}}">{{j.author.username}}</a></p>点赞了您的文章
    <p><a href="{{url_for('posts',id=j.article_id)}}">{{j.article.tittle}}</a></p>

    <p>_____________</p>
</div>
{%endfor%}

<p></p>
</body>
</html>